# Docker
.dockerignore
Dockerfile
Dockerfile_Prisma
docker-compose.yml

# Unnecessary files
*.log
.devcontainer/
.vscode/
.venv/
__pycache__/
*.pyc
README.md
start_bot.sh
LICENSE
pgadmin.env
.env