asyncio
aiohttp
asyncpg
cachetools
discord.py[voice]
jishaku @ git+https://github.com/Gorialis/jishaku
python-dotenv
typing_extensions
gitpython
psutil
humanfriendly
python-logging-loki
prisma